<% password = SecureRandom.urlsafe_base64 %>

<div class="container">
  <div class="well">
    <h2><%= t('.sign_up') %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, placeholder: 'courriel@monadresse.fr' %>
        <%= f.input :password, required: true, placeholder: User.human_attribute_name(:password) %>
        <%= f.input :password_confirmation, required: true, placeholder: User.human_attribute_name(:password_confirmation) %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('.sign_up_action'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <hr/>
  <%= render "devise/shared/links" %>
</div>
