<%= simple_form_for(client_form, as: 'client', url: request.path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :first_name %>
    <%= f.input :email, as: :email, type: :email %>
    <%= f.input :address, label: 'Addresse', as: :text %>
    <%= f.input :postal_code, label: 'Code Postal' %>
    <%= f.input :city, label: 'Ville' %>
    <%= f.input :phone, label: 'Telephone' %>
    <%= f.input :product, label: 'Produit' do %>
      <%= f.select :product, @product_types %>
    <% end %>

    <%= f.input :product_state, label: 'Etat du produit' do %>
      <%= f.select :product_state_id,
      ProductState.where(company: current_user.company).map {|t| [t.name, t.id]}
    %>
    <% end %>
    <%= f.input :brand, label: 'Marque', required: true %>
    <%= f.input :product_name, label: 'Modèle' %>
    <%= f.input :panne, label: 'Panne', as: :text %>
  </div>

  <br>
  <br>
  <div class="form-actions">
    <% if client_form.id.present? %>
      <%= f.submit_tag 'Editer le client', data: { disable_with: 'Edition en cours...' }, class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= f.submit_tag 'Ajouter le client', data: { disable_with: 'Ajout en cours...' }, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
<% end %>
