<% content_for :topbar do %>
  <%= link_to client_new_path do %>
    <i class="fa fa-plus"></i>&nbsp;<%= I18n.t('app.client.add') %>
  <% end %>&nbsp;
  <%= link_to "Voir la fiche SAV pour #{@client[:last_name]} #{@client[:first_name]}", client_path(@client[:unique_id]) %>
<% end %>
<div class="container">
  <h1>Editer le client <%= @client.full_name %></h1>
  <%= render partial: "client_form", object: @client %>
</div>
