<% content_for :topbar do %>
  <%= link_to client_new_path do %>
    <i class="fa fa-plus"></i>&nbsp;<%= I18n.t('app.client.add') %>
  <% end %>&nbsp;
  <%= link_to notifications_path do %>
    <i class="fa fa-mobile"></i>&nbsp;<%= I18n.t('app.messages.list') %>
  <% end %>&nbsp;
  <%= link_to user_messages_path do %>
    <%= I18n.t('user_message.list') %>
  <% end %>
<% end %>
<% if current_user.company.demo %>
  <div class="container">
    <div class="alert alert-info">
      <h3>Bienvenue !</h3>
      <p style="font-size: 120%">
        Bienvenue sur la plateforme, les clients que vous voyez sont des clients de <b>demonstration</b>.<br>
        Vous pouvez faire tout ce que vous voulez ici sans aucun risque !<br>
        Si vous voulez enregistrer votre propre entreprise, cliquez sur
          <%= link_to 'Enregister mon entreprise', companies_add_new_path, class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
<% end %>
<div class="container">
  <h1 class="pull-left">Liste des clients</h1>
  <div class="clearfix"></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Produit</th>
        <th>Statut actuel</th>
        <th>Panne</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="5"><span class="fa fa-tasks fa-2x"></span>&nbsp;Clients en cours :</td></tr>
      <%= render partial: "client_row", collection: @clients_in_progress %>
      <tr>
      <td colspan="5"><span class="fa fa-check fa-2x" style="color: green"></span>Clients termines :</td></tr>
      <%= render partial: "client_row", collection: @clients_done %>
    </tbody>
  </table>
</div>
