<% content_for :topbar do %>
  <%= link_to client_new_path do %>
    <i class="fa fa-plus"></i>&nbsp;<%= I18n.t('app.client.add') %>
  <% end %>&nbsp;
  <%= link_to notifications_path do %>
    <i class="fa fa-mobile"></i>&nbsp;<%= I18n.t('app.messages.list') %>
  <% end %>&nbsp;
  <%= link_to user_messages_path do %>
    <%= I18n.t('user_message.list') %>
  <% end %>
<% end %>
<div class="container">
  <% if current_user.company.demo %>
    <div class="alert alert-info">
      <h3>Bienvenue !</h3>
      <p style="font-size: 120%">
        <%= t('.welcome_default_account') %>
        <br>
        <%= t('.can_do_what_you_want') %>
        <br>
        <%= t('.please_register_your_company_on') %>
        <%= link_to 'Enregister mon entreprise', companies_assign_path, class: 'btn btn-primary' %>
      </p>
    </div>
  <% end %>
  <h1 class="pull-left">Liste des clients</h1>
  <div class="clearfix"></div>
  <% if @clients_in_progress.count == 0 and @clients_done.count == 0 %>
    <div class="alert alert-info">
      <h3><%= t('.no_clients_to_display') %></h3><br>
      <%= link_to client_new_path, class: 'btn btn-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;<%= I18n.t('app.client.add') %>
      <% end %>
    </div>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Produit</th>
        <th>Statut actuel</th>
        <th>Panne</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="5"><span class="fa fa-tasks fa-2x"></span>&nbsp;Clients en cours :</td></tr>
      <%= render partial: "client_row", collection: @clients_in_progress %>
      <tr>
      <td colspan="5"><span class="fa fa-check fa-2x" style="color: green"></span>Clients termines :</td></tr>
      <%= render partial: "client_row", collection: @clients_done %>
    </tbody>
  </table>
</div>
