<% content_for :topbar do %>
  <%= link_to "Ajouter nouveau client", client_new_path %>
<% end %>
<div class="container">
  <br>
  <h1 class="pull-left">Liste des clients</h1>
  <div class="clearfix"></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Produit</th>
        <th>Statut actuel</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <td colspan="4"><span class="fa fa-tasks fa-2x"></span>&nbsp;Clients en cours :</td>
      <% @clients.reverse.select{|c| c.processed != true}.each do |client| %>
        <tr class="client">
          <td><%= client.full_name %></td>
          <td><%= client.product_full_name %></td>
          <td>
            <% client_event = client.client_events.last %>
            <% if client_event %>
              <%= client_event.try(:event_name) %><br>
              Il y a <%= time_ago_in_words(client_event.try(:created_at)) %>
            <% else %>
              <i>Inconnu</i>
            <% end %>
            <% if client_event.present? and client_event.sms_sent %>
              <span class="label label-success"><span class="fa fa-bell"></span>&nbsp;SMS Envoyé</span>
            <% end %>
          </td>
          <td>
            <% if client[:unique_id] %>
              <%= link_to "Voir la fiche SAV", client_path(client[:unique_id]), class: 'btn btn-primary' %>
              <%= link_to "Envoyer un message au client", status_admin_path(client[:unique_id]), class: 'btn btn-default' %>
              <%= link_to "Editer Client", client_edit_path(client[:unique_id]), class: 'btn btn-default' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4"><span class="fa fa-check fa-2x" style="color: green"></span>Clients termines :</td>
        <% @clients.reverse.select{|c| c.processed}.each do |client| %>
          <tr class="client">
            <td><%= client.full_name %></td>
            <td><%= client.product_full_name %></td>
            <td>
              <% client_event = client.client_events.last %>
              <% if client_event %>
                <%= client_event.try(:event_name) %><br>
                Il y a <%= time_ago_in_words(client_event.try(:created_at)) %>
              <% else %>
                <i>Inconnu</i>
              <% end %>
              <% if client_event.sms_sent %>
                <span class="label label-success"><span class="fa fa-bell"></span>&nbsp;SMS Envoyé</span>
              <% end %>
            </td>
            <td>
              <% if client[:unique_id] %>
                <%= link_to "Voir la fiche SAV", client_path(client[:unique_id]), class: 'btn btn-primary' %>
                <%= link_to "Envoyer un message au client", status_admin_path(client[:unique_id]), class: 'btn btn-default' %>
                <%= link_to "Editer Client", client_edit_path(client[:unique_id]), class: 'btn btn-default' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
