<% content_for :topbar do %>
  <%= link_to I18n.t('topbar.return_to_list'), clients_path %>
<% end %>
<div class="container" style="margin-top: 50px">
  <h1>Marquer le client comme terminé</h1>
  <h3>Status actuel du client</h3>
  <table class="table">
    <tbody>
      <%= render partial: "client_row", object: @client %>
    </tbody>
  </table>
  <br>
  <form class="form" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group col-xs-6">
      <button type="submit" class="btn btn-default" name="send_notification" value="0">
        <%= I18n.t('app.client.mark_as_done_no_notification') %>
      </button>
    </div>
    <div class="form-group col-xs-6">
      <button type="submit" class="btn btn-primary" name="send_notification" value="1">
        <%= I18n.t('app.client.mark_as_done_notification') %>
      </button>
    </div>
  </form>
</div>
