<% content_for :topbar do %>
  <%= link_to I18n.t('topbar.return_to_list'), clients_path %>
<% end %>
<div class="container" style="margin-top: 50px">
<form class="form" method="POST">
  <input type="hidden" name="send_notification" value="0" />
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group col-xs-6">
    <button type="submit" class="btn btn-default">
      <%= I18n.t('app.client.mark_as_done_no_notification') %>
    </button>
  </div>
</form>
<form class="form" method="POST">
  <input type="hidden" name="send_notification" value="0" />
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group col-xs-6">
    <button type="submit" class="btn btn-primary">
      <%= I18n.t('app.client.mark_as_done_notification') %>
    </button>
  </div>
</form>
</div>
