<%= simple_form_for company_form, url: request.path, html: { multipart: true } do |f| %>
  <div>
    <label class="string required control-label">
      Logo
    </label>
  </div>
  <%= image_tag company_form.logo.url(:thumb) %>
  <%= f.file_field :logo %>
  <%= f.input :name, required: true %>
  <%= f.input :website %>
  <%= f.input :siret, required: true %>
  <%= f.input :phone, required: true %>
  <%= f.input :address, required: true %>
  <% if company_form.id %>
    <%= f.submit value: t('.edit', company_name: company_form.name), class: 'btn btn-primary' %>
  <% else %>
    <%= f.submit value: t('.add'), class: 'btn btn-primary' %>
  <% end %>
<% end %>
