<div class="container">
  <h1><%= t('.add') %></h1>
  <div class="well">
  <%= simple_form_for @company, url: request.path do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :website %>
    <%= f.input :siret, required: true %>
    <%= f.input :phone, required: true %>
    <%= f.input :address, required: true %>
    <%= f.submit value: t('.add'), class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
