<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
  <head>
    <% if Rails.application.config.sentry_dsn_frontend.present? %>
      <script src="https://cdn.ravenjs.com/3.1.1/raven.min.js"></script>
      <script>Raven.config('<%= Rails.application.config.sentry_dsn_frontend %>').install()</script>
    <% end %>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Status</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/action_bar" %>
    <%= render "shared/flash_messages" %>
    <br>
    <%= yield %>
  </body>
</html>
