<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
  <head>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Status</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="action-bar">
      <%= yield :topbar %>
      <% if current_user.present? %>
        <div style="float:right; color:white">
          <%= current_user.email %>
        </div>
      <% end %>
    </div>
  <%= yield %>
  </body>
</html>
