<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
  <head>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Status</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="action-bar">
      <% if current_user.present? %>
        <%= link_to clients_path do %>
          <i class="fa fa-tasks"></i>&nbsp;<%= I18n.t('topbar.return_to_list') %>
        <% end %>&nbsp;
      <% end %>

      <%= yield :topbar %>

      <% if current_user.present? %>
        <div style="float:right; color:white">
          <span class="company-name">
            <%= current_user.company.name %>
          </span>
          <span>
            - <%= current_user.email %>
          </span>
        </div>
      <% else %>
        <%= link_to new_user_session_path, class: 'btn btn-primary' do %>
          <i class="fa fa-user"></i>&nbsp;Se Connecter
        <% end %>
      <% end %>
    </div>
  <% if @errors.present? %>
    <% @errors.each do |error| %>
      <div class="alert alert-danger notification-error"><%= error %></div>
    <% end %>
  <% end %>
  <br>
  <%= yield %>
  </body>
</html>
